# Python
**/__pycache__/
*.py[cod]

# Virtualenv
venv/
.venv/
env/

# Django
db.sqlite3
staticfiles/
media/

# Logs
*.log
err.log
out.log

# IDE
.idea/

# Env
.env

 CLAUDE.md

*/migrations/*.py
!vacaciones/aplications/users/migrations/__init__.py

